<header id="mainHeader">
  <nav class="navbar">
    <div class="logo" id="logoToggle">
      <span id="botonMenu" class="menu-toggle" aria-label="Abrir menú" role="button" tabindex="0">
        <i class="fa-solid fa-scissors"></i>
      </span>
      <a href="/" class="logo-text">PATRONATO</a>
    </div>

    <div class="nav-links" id="navMenu">
      <li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</a></li>
      <li class="nav-item"><a class="nav-link" href="/servicios">Cursos</a></li>
      <li class="nav-item"><a class="nav-link" href="/matricula">Matricula</a></li>
      <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
    </div>
  </nav>
</header>
